/* ================================
   CHAT MESSAGES
================================ */

.chat-messages {
    width: 100%;
    max-width: 500px;

    max-height: 220px;

    overflow-y: auto;

    margin-bottom: 15px;

    padding: 5px;
}


/* USER */

.user-message {
    width: fit-content;
    max-width: 80%;

    margin-left: auto;
    margin-bottom: 10px;

    padding: 10px 14px;

    background: #222;

    color: white;

    border-radius: 16px 16px 4px 16px;

    font-size: 14px;

    word-break: break-word;
}


/* FRIDAY */

.friday-message {
    width: fit-content;
    max-width: 80%;

    margin-right: auto;
    margin-bottom: 10px;

    padding: 10px 14px;

    background: #111;

    color: #ddd;

    border: 1px solid #292929;

    border-radius: 16px 16px 16px 4px;

    font-size: 14px;

    word-break: break-word;
}